.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: #fcfffc;
  
  .widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
  }

  .widgetLgTable{
    width: 100%;
    border-spacing: 20px;
  }

  .widgetLgTh{
    text-align: left;
  }

  .widgetLgName {
    width: 20%;
  }

  
  .linearProgressContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 25px;
      background-color: #ebf1fe;
      color: #2a7ade;
      border-radius: 5px;
  }

  .linearProgress {
      width: 70%;
      height: 10px;
  }

  .marcheAction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}

.consulterButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #ebf1fe;
    color: #2a7ade;
    cursor: pointer;
    margin-right: 10px;

}

.consulterIcon{
    font-size: 16px !important;
    margin-right: 5px;
}

}