.editer-marche-container {
    flex: 5;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 30px;
    padding-top: 25px;
    margin: 0px 20px 10px 20px;
    font-size: 120%;

// ------------------------------------------------------------------------------------------------

  h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

// ------------------------------------------------------------------------------------------------

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
} 

.step-item {
  position: relative;
    flex: 1;
    height: 100%;
    background-color: #ccc;
    border-right: 2px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 10px;
    font-weight: 600;
}

.step-text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.step-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 1s; 
}

.active-step {
  background-color: #007bff;
  animation: fillProgress 3s forwards;
}

@keyframes fillProgress {
  100% {
    width: 100%; 
  }
}

.completed-step {
  width: 100%;
  background-color: #007bff;
  animation: changeColorAndMove 3s forwards;
}

@keyframes changeColorAndMove {
  100% {
    background-color: #28a745;      
  }
}

// ------------------------------------------------------------------------------------------------

  .edit-container {  
    display: flex;
    flex-direction: row;
  }

  .edit-sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background-color: rgb(251, 251, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: small;

    h3{
      margin-bottom: 10px;
      font-weight: 900;
      color : rgb(187, 186, 186)
    }
  }

  .edit-sidebar-itmes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .edit-sidebar-item {
      margin-top: 0px;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      color: #555;
    }

    .edit-sidebar-item.active,
    .edit-sidebar-item:hover {
      background-color: rgb(240, 240, 255);
      border-radius: 10px;
    }
}

// ------------------------------------------------------------------------------------------------

  form {
    flex: 13;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    font-size: small;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    flex: 3;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    font-size: 12px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"], 
  input[type="file"], 
  input[type="number"] 
  select,
  textarea {
    flex: 7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: small;
    transition: border-color 0.3s ease;
  }

  input[type="file"] {
    background-color: white;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus, 
  input[type="file"]:focus, 
  input[type="number"]:focus 
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
  }

// ------------------------------------------------------------------------------------------------

  .inputs-buttons-container {
    flex: 7; 
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    .inputs-container{
      flex: 6;
      display: flex; 
      flex-direction: column; 
    }
    
    input {
      margin-bottom: 5px;
    }
    
    .buttons-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content:  flex-start;
      align-items: flex-end;
    }
  
    .ajouter-button {
      display: flex;
      align-items: center; 
      justify-content: center;
      color: #fff;
      background-color: #007bff;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 2px 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    
    .ajouter-button:hover {
      background-color: #0056b3;
    }
    
    .supprimer-button {
      display: flex;
      align-items: center; 
      justify-content: center;
      background-color: #dc3545;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      margin: 2px 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    
    .supprimer-button:hover {
      background-color: #a82330;
    }
  
  }

// ------------------------------------------------------------------------------------------------

  .files-container {
    flex: 7;
    display: flex;
    justify-content: space-between;

    a {
      margin: 0 20px 0 -5px;
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: small;
      transition: border-color 0.2s ease;
      transition: background-color 0.2s;
      background-color: #e9e9e9;
      color: black;
    }
    a:focus {
      outline: none;
      border-color: #007bff;
    }
    a:hover {
      background-color: #e4e2e2;
    }
  }

// ------------------------------------------------------------------------------------------------

  .submit-evaluation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
    .submit-button {
      max-width: 110px;
    }
    
    .evaluation-button {
      display: inline-flex; 
      align-items: center;
      justify-content: center;
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: small;
      transition: background-color 0.3s ease;
    }
    
    .evaluation-button:hover {
      background-color: #45a049; 
    }
  }

// ------------------------------------------------------------------------------------------
 
  .evaluation-offres-container, 
  .attribution-marche-container, 
  .cloturer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 13;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    font-size: small;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    p {
      text-align: center;
      max-width: 600px;
      font-size: 1.1rem;
      line-height: 1.5;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
      color: #333; 
    }
  }

  .cloturer-buttons-cntainer {
    margin-top: 30px;
  }

  .cloturer-button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
    transition: background-color 0.3s ease;
    max-width: 110px;
  }
  
  .cloturer-button:hover {
    background-color: #0056b3;
  }

  .ne-pas-cloturer-button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
    transition: background-color 0.3s ease;
  }

  .ne-pas-cloturer-button:hover {
    background-color: #45a049; 
  }

//-----------------------------------------------------------------------------------------------

  .OffreList {
    margin-left: 255px;
    transform: translateX(-255px);
    
    .data-grid {
        flex: 6;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        width: calc(100% + 255px);    
        overflow: hidden;
        overflow-x: auto;
        min-height: 65vh;
    }
    .data-grid ::-webkit-scrollbar {
        z-index: -1; 
        height: 0px;
    }
    .data-grid ::-moz-scrollbar {
        z-index: -1; 
        height: 0px;
    }

    .productListItem {
        display: flex; 
        align-items: center; 
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    
    .productListItem::-webkit-scrollbar {
        z-index: -1; 
        height: 0px;
    }
    .productListItem::-moz-scrollbar {
        z-index: -1; 
        height: 0px;
    }
      
    .linearProgressContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 20px;
        border: 1px solid rgb(12, 106, 248);
    }
    
    .linearProgress {
        width: 70%;
        height: 10px;
    }      
    
    .productListEdit{
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #3bb077;
        color: white;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .productListDelete{
        color: red;
        cursor: pointer;
    }
  }

  // ----------------------------------------------
  .submit-ceo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .submit-button {
    max-width: 110px;
  }
  .ceo-button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
    transition: background-color 0.3s ease;
  }
  
  .ceo-button:hover {
    background-color: #45a049; 
  }
}


