.home-page {
  background: url(../img/login26.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  min-height: 100vh;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 40px 20px 40px 100px;

    .logo-img {
      width: 50px; 
      height: auto;
      margin-right: 20px;
      border-radius: 5px;
    }

    .logo-text {
      font-family: "Dancing Script", cursive;
      color: rgb(251, 245, 237);
      font-size: 1.5em;
      text-shadow: 4px 6px 5px rgb(143, 196, 82);
    }
  }

  .log-container {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 65% 35%;

    @media screen and (max-width: 885px) {
      grid-template-columns: 1fr;
    }
    
    .connection-form {
      border: none;
      background: rgb(253, 238, 238);
      min-width: 490px;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding: 20px;
      border-radius: 20px;
      background-color: rgba(0,0,0,0.5); 
      border: 1px soid rgba(255, 255, 255, 0.3); 
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3); 
      color: white;

      @media screen and (max-width: 550px) {
        min-width: 200px;
      }
    }
    .form-container {
      display: grid;
      grid-template-columns: 30% 70%;

      @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        li {
          cursor: pointer;
          border-radius: 20px;
          padding: 10px 20px;
          transition: 0.2s;
          font-size: 1.1rem;

          @media screen and (max-width: 550px) {
            width: 80%;
            margin: 0 auto;
          }
        }
        .active-btn {
          background: #ff7b77;

          &:hover {
            background: #ffd0c4;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #login {
          position: relative;
          @media screen and (max-width: 550px) {
            margin-bottom: 30px;

            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 1px;
              background: #ffd0c4;
            }
          }
        }
      }
      form {
        input {
          padding: 0px 20px;
          margin: 0;
          font-size: 1.2rem;
          font-family: "font-2", serif;
          border-radius: 20px;
          height: 35px; //
          

          &:focus {
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
          }
        }
        a {
          color: greenyellow;
          
        }
      }
    }
    input[type="email"], input[type="text"], input[type="password"]{ //
      background: rgba(255, 255, 255, .7);
    }
  }
  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }
  .img-container {
    display: grid;
    align-items: center;
    height: 100%;
    text-align: center;
    opacity: 0.7;

    img {
      height: 280px;
      display: block; 
      margin: 0 auto;

      @media screen and (max-width: 1050px) {
        height: 220px;
      }
      @media screen and (max-width: 950px) {
        height: 200px;
      }
      @media screen and (max-width: 885px) {
        display: none;
      }
    }
  }

  button,
  input[type="submit"] {
    background: #ffdfd7;
    color: #ff4d46;
    font-family: "font-3", serif;
    cursor: pointer;
    transition: 0.2s;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px 6px 20px 20px;
  
    &:hover {
      background: #ff7b77;
      color: #ffdfd7;
    }
  }
  .role {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .margin-radio {
    margin-right: 25px;  
    margin-left: 25px;  
  }
  .label-radio{
    margin-right: 10px;
    position: relative;
    top: -15px;
  }

  .compteValide {
    font-size: larger;
  }
}
 
  
  